
    <div id="whatWeDo">
        <div class="container">
            <h1>Nos services</h1>
            <br />
            <div class="row">
                <div class="col-sm-3 col-md-3 tile">
                    <i class="fa fa-fire"></i>
                    <h5>Chauffage & Sanitaire</h5>
                    <p></p>
                </div>
                <div class="col-sm-3 col-md-3 tile">
                    <i class="fa fa-square-o"></i>
                    <h5>Carrelage</h5>
                    <p></p>
                </div>
                <div class="col-sm-3 col-md-3 tile">
                    <i class="fa fa-paint-brush"></i>
                    <h5>Peinture</h5>
                    <p></p>
                </div>
                <div class="col-sm-3 col-md-3 tile">
                    <i class="fa fa-cube"></i>
                    <h5>Plafonnage</h5>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio">
        <div class="container">
            <h1>Nos créations</h1>
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a data-toggle="lightbox" href="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg">
                            <img src="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a data-toggle="lightbox" href="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg">
                            <img src="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a data-toggle="lightbox" href="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg">
                            <img src="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a data-toggle="lightbox" href="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg">
                            <img src="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a data-toggle="lightbox" href="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg">
                            <img src="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a data-toggle="lightbox" href="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg">
                            <img src="./content/Images/mad_ninja_rabbit-wallpaper-1920x1080.jpg" alt="image" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
