<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Afficher le menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="container">
        <div class="col-lg-3"></div>
        <div class="collapse navbar-collapse col-lg-6" id="main-nav">
            <ul class="nav navbar-nav">
                <li><a href="#header" class="fa fa-home">Accueil</a></li>
                <li><a href="#whatWeDo" class="fa fa-cogs">Services</a></li>
                <li><a href="#portfolio" class="fa fa-picture-o">Portfolio</a></li>
                <li><a href="#contact" class="fa fa-envelope">Contact</a></li>
            </ul>
        </div>
        <div class="col-lg-3"></div>
    </div>
</nav>
